[user]
	name = Andrew Hammond
	email = andrew@evertrue.com
	
[alias]
	cav = commit -av
	
	co = checkout
	
	# Log display from screencast, with train tracks.
	ll = log --graph --date=short --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ad%Creset'
	
	# Alternate log display from Scott Chacon: shows colors for decorations but no date
	l = log --pretty=oneline --abbrev-commit --graph --decorate
	
	# short form status
	s = status --short
	
	# show me describe from most recent version tag
	v = describe --match version*
	
	c = commit -avem ":trollface:"
	
	f = fetch
	
	fa = fetch --all
	
[apply]
	whitespace = fix

[merge]
	tool = diffmerge

[diff]
	tool = diffmerge

[difftool "diffmerge"]
	cmd = diffmerge "$LOCAL" "$REMOTE"
	
[mergetool]
	keepBackup = false
	
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result="$MERGED" "$LOCAL" "$(if test -f "$BASE"; then echo "$BASE"; else echo "$LOCAL"; fi)" "$REMOTE"
	trustExitCode = true
	
[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = white reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
	branch = magenta
	
[help]
	# auto run command if only one suggestion
	autocorrect = 1
	
[push]
	default = matching
